* {
    box-sizing: border-box;
}

/* 
.menu1 {
    display: inline;

} */

body {
    background-color: lightgray;
    margin: 100px 250px;
}

.logo {
    padding: 10px;
}

#task {
    background-color: white;
    margin: 20px 0px 10px 40px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: cornflowerblue;
}

#section {
    background-color: white;
    margin: 20px 20px 10px 4px;
    padding: 5px 10px;
    border-radius: 10px;
}

#down-icon {
    height: 20px;
    width: 20px;
    margin-left: 15px;
}

header {
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

main {
    background-color: white;
    /* margin: 80px; */
}


/* #buttons {
    display: inline;
} */

.firstm{
    display: flex;
}

#menu1{
    margin-top: 0px;
    margin-left: 5px;
    font-size: 20px;
}

.firstTask{
    display: flex;
}

#done{
    width: 15px;
    height: 15px;
    margin-left: 50px;
    margin-top: 2px;
}

#new-task{
    margin-top: 1px;
    margin-left: 5px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
}

#Editorial{
    margin-top: 1px;
    margin-left: 5px;
    background-color: lightskyblue;
    padding: 3px;
    border-radius: 10px;
}